{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header mb-4">
        <h1>{{ title }}</h1>
        <div class="subtitle text-muted">{{ subtitle }}</div>
    </div>
    {% if service_list %}
    <div class="row">
        {% for service in service_list %}
        <div class="col-6">
            <div class="card card-service mb-4 d-flex">
                <h2 class="mb-3">{{ service.title }}</h2>
                <div class="text text-muted mb-3">{{ service.description | truncatewords:16 }}</div>
                <div class="d-flex justify-content-between align-items-center">
                     <div class="text-muted text-bold d-flex">
                        <div class="time"><i class="fi fi-rr-time-oclock me-1"></i>{{ service.time }} мин.</div>
                        <div class="price ms-3"><i class="fi fi-rr-coins me-1"></i>{{ service.price }} грн.</div>
                     </div>
                    <a href="{% url 'service' pk=service.id %}" class="btn btn-primary">Записаться</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="card card-empty">
        <div class="icon"><i class="fi fi-rr-sad-tear"></i></div>
        <h2>Ничего нету</h2>
        <div class="text-muted">
            К сожалению в ближайшее 7 дней мы не предоставляем услуг.
            Попробуйте зайти позже и возможно кто-то из мастеров освободится.
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
