{% extends 'base.html' %}

{% block content %}
<section id="home">
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="subtitle text-muted">{{ subtitle }}</div>
    </div>
</section>
<section id="masters">
    <div class="container">
        <div class="section-heading">
            <h2>Наши мастера</h2>
            <div class="subtitle"></div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="section-heading">
            <h2>Наши услуги</h2>
            <div class="subtitle"></div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
{% endblock content %}
