{% extends 'base.html' %}

{% block content %}
<section id="home">
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="subtitle text-muted">{{ subtitle }}</div>
    </div>
</section>
<section id="masters">
    <div class="container">
        <div class="section-heading">
            <h2>Наши мастера</h2>
            <div class="subtitle"></div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="section-heading">
            <h2>Наши услуги</h2>
            <div class="subtitle"></div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="section-heading">
            <h2>О BearsPoint</h2>
            <div class="subtitle"></div>
        </div>
        <div class="text">
            <p>
                BearsPoint — сугубо мужская территория, где на первом месте стоит мужская индивидуальность,
                место где можно забыться от повседневной суеты и насладиться спокойной и дружественной атмосферой.
            </p>
            <p>
                Нашу команду объединяет одна единственная цель — создание места, где сочетаются мужские ценности и качество.
                Мы знаем, как важно для Вас выглядеть и чувствовать себя стильно на работе, на свидании или просто выходя в город.
                Поэтому если Вы хотите быть уверены, что ваша стрижка будет выполнена качественно — присоединяйтесь к нашим довольным клиентам.
            </p>
            <p>Мы всегда рады новым гостям и старым знакомым.</p>
        </div>
    </div>
</section>
{% endblock content %}
