@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --main-bg: #f9f6f2;
    --navbar-bg: #222227;
    --main-text-color: #42403f;
    --text-muted: #828282;
    --main-color: #9e8a78;
    --main-color-hover: #bd9a7c;
    --submain-color: #ede5e5;
    --border-color: #edebeb;
}

body{
    background: var(--main-bg);
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
}

.text-muted{
    color: var(--text-muted)!important;
}

.text-bold{
    font-weight: 500;
}


.btn {
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 0;
    height:42px;
    background: var(--submain-color);
    color: var(--main-color);
    text-decoration:none!important;
}

.btn:hover{
    background: var(--main-color);
    color:#fff;
}

.btn-primary{
    background: var(--main-color);
    color:#fff;
}

.btn-primary:hover{
    background: var(--main-color-hover);
    color:#fff;
}

.d-grid .btn-with-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-with-icon .fi {
    font-size: 16px;
    line-height: 1;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

.btn-sm {
    font-size: 13px;
    padding: 5px 15px;
    height: auto;
}

.btn-sm.btn-with-icon .fi {
    font-size: 14px;
}

.btn-sm.btn-icon{
    padding: 5px 10px;
}

.btn-icon .fi{
    margin: 0;
}

.form-select,
.form-control{
    border-radius: 0;
    height: 42px;
}

.navbar{
    background: var(--navbar-bg);
    margin-bottom: 30px;
}

.navbar-brand {
    color: var(--main-color);
    font-weight: bold;
}

.nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.nav-link:hover{
    color: var(--main-color);
}

h2{
    font-size:22px
}

.card{
    background: #fff;
    padding: 20px;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
}

.card-heading {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.card-heading h2{
  font-size: 22px;
}

.card-manager{
    padding-left: 100px;
}

.card-manager h3 {
    font-size: 18px;
}

.card-manager .icon {
    width: 60px;
    height: 60px;
    display: flex;
    font-size: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 1;
    background: var(--main-bg);
    color: var(--main-color);
    position: absolute;
    left: 20px;
    top: 20px;
}

.card-master-mini {
    position: relative;
    padding-left:60px;
}

.card-master-mini .title {
    font-weight: 500;
}

.card-master-mini img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: var(--main-bg);
    border-radius: 50%;
    padding:5px;
}

.card-service .text{
    font-size: 14px;
}

.list-menu li {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid var(--border-color);
}

.list-menu li:last-child{
    padding-bottom:0;
    border:none;
}

.list-menu a,
.list-menu span{
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.list-menu a i,
.list-menu span i{
    font-size: 18px;
    float: left;
    margin-right: 5px;
    line-height: 1;
}

.list-menu a:hover,
.list-menu span:hover{
    color: var(--main-color);
}

.header {
    margin-bottom: 30px;
    position: relative;
}

.header h1 {
    font-size: 28px;
}

section {
    padding: 60px 0;
}

.section-heading .subtitle{
    font-weight: 500;
    font-size: 16px;
}

#home {
    background: url(../img/home_bg.jpg);
    margin-top: -30px;
    padding: 230px 0;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

#home img{
    background: #ffffff24;
    border-radius: 50%;
    width: 170px;
    border: 3px solid var(--main-color);
}

#home .subtitle{
    font-size: 20px;
}

table.dataTable {
    font-size: 13px;
}

table.dataTable.stripe>tbody>tr.odd>*,
table.dataTable.display>tbody>tr.odd>* {
    box-shadow: none;
    background: var(--main-bg);
    border: none;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border: none;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px;
    border-bottom: 1px solid var(--color-border);
    color: var(--text-muted);
    font-weight: 500;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 10px 10px;
}

table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>*,
table.dataTable.display>tbody>tr.even>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1,
table.dataTable.display>tbody>tr.odd>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1,
table.dataTable.order-column>tbody tr>.sorting_1,
table.dataTable.order-column>tbody tr>.sorting_2,
table.dataTable.order-column>tbody tr>.sorting_3,
table.dataTable.display>tbody tr>.sorting_1,
table.dataTable.display>tbody tr>.sorting_2,
table.dataTable.display>tbody tr>.sorting_3{
    box-shadow:none
}

table.dataTable.no-footer {
    border: none;
}

footer{
    padding: 30px 0;
    background: var(--navbar-bg);
}

