{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>{{ title }}</h1>
        <div class="subtitle text-muted">{{ subtitle }}</div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-heading">
                    <h2>{{ master.name }}</h2>
                    <div class="subtitle text-muted">Детальное описание мастера</div>
                </div>
                <div class="mb-3">{{ master.description }}</div>
                <div class="text-muted text-bold d-flex">
                    <div><i class="fi fi-rr-circle-phone-flip me-1"></i>{{ master.phone }}</div>
                    <div class="ms-3"><i class="fi fi-rr-chess-queen me-1"></i>{{ master.get_rang_display }}</div>
                 </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <h2>Запись на услугу</h2>
                    <div class="subtitle text-muted">Для того, чтобы записаться на услугу выберите услугу и время</div>
                </div>
                {% if need_auth is True %}
                    Нужно авторизироватся
                {% else %}
                {% for booking in bookings %}
                        <div class="mb-3">
                            <div class="card-master-mini">
                                <img src="{% static 'img/barber.png' %}" alt="">
                                <div class="title mb-1">{{ booking.service }}</div>
                                 <div class="text-muted d-flex">
                                    <div class="time"><i class="fi fi-rr-time-oclock me-1"></i>{{ booking.service.time }} мин.</div>
                                    <div class="price ms-3"><i class="fi fi-rr-coins me-1"></i>{{ booking.service.price }} грн.</div>
                                 </div>
                            </div>
                        </div>
                        {% for form in booking.forms %}
                            <form method="post" class="mb-3">
                                {% csrf_token %}
                                {{ form.service }}
                                <div class="row">
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <div class="mb-3">
                                                {{ form.date }}
                                                <div class="form-text">{{ form.date.help_text }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <div class="mb-3">
                                                {{ form.time_start }}
                                                <div class="form-text">{{ form.time_start.help_text }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary btn-with-icon"><i class="fi fi-rr-check"></i>Бронировать</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% endfor %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-heading">
                    <h2>Ранг мастера</h2>
                    <div class="subtitle text-muted">Описание рангов мастеров</div>
                </div>
                <div class="mb-3">
                    <span class="rang-span"><i class="fi fi-rr-chess-queen me-1"></i>Ранг 1</span>
                    <div class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Amet, doloribus earum impedit porro quisquam repellendus.</div>
                </div>
                <div class="">
                    <span class="rang-span"><i class="fi fi-rr-chess-queen me-1"></i>Ранг 2</span>
                    <div class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Amet, doloribus earum impedit porro quisquam repellendus.</div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}